<html>
	<head>
        <% include ../../partials/head %>
	</head>
	<body>
		<header>
			<a href="/"><img src="/images/favicon.png" class="favicon"></a>
			<div>
    			<a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Sair</a>
			</div>
		</header>
		<section>
			<div class="container">
                

                <div class="box-3">
					<div class="box-1">
						<select id="change-customer-sale-form" class="btn-generic-big" autocomplete="off">
							<option value="0">Comprador</option>
							<option value="search-customer">Buscar cliente</option>
							<option value="create-customer">Cadastrar cliente</option>
						</select>
					</div>
					<div id="search-customer-box" class="box-1" style="display:none">
						<!-- <input type="text" class="btn-generic-big" id="src-customer-name" placeholder="Nome"> -->
						<input type="text" class="btn-generic-big" id="src-customer-cpf" placeholder="CPF" maxlength="11">
						<input type="button" class="btn-generic-big" id="search-customer-btn" value="Buscar">
					</div>
					<div id="create-customer-box" class="box-1" style="display:none">
						<input type="text" class="btn-generic-big" id = "customer-name" placeholder="Nome" maxlength="45">
						<input type="text" class="btn-generic-big" id = "customer-cpf" placeholder="CPF" maxlength="11">
						<input type="text" class="btn-generic-big" id = "customer-phone" placeholder="Telefone" maxlength="11">
						<input type="button" class="btn-generic-big" id = "create-customer-btn" value="Cadastrar">
					</div>
				</div>

				<div class="box-3">
					<strong>Informações da Venda</strong>
					<div class="box-1">
						<select class="btn-generic-big" id="store-sale-customer">
							<option value=''>Cliente</option>
						</select>
					</div>
					<div class="box-1">
						<select class="btn-generic-small" id="store-sale-payment-method">
							<option value=''>Pagamento</option>
							<option value='din'>Dinheiro</option>
							<option value='cdt'>Crédito</option>
							<option value='dbt'>Débito</option>
							<option value='chq'>Cheque</option>
						</select>
						<select class="btn-generic-small" id="store-sale-payment-installment">
							<option value='1'>À vista</option>
							<option value='2'>2x</option>
							<option value='3'>3x</option>
							<option value='4'>4x</option>
							<option value='5'>5x</option>
							<option value='6'>6x</option>
							<option value='7'>7x</option>
							<option value='8'>8x</option>
							<option value='9'>9x</option>
							<option value='10'>10x</option>
							<option value='11'>11x</option>
							<option value='12'>12x</option>
						</select>
					</div>
				</div>

                <div class="box-3">
	                	<button class="btn-generic-big" onclick="displayProductSelectFrm('kart')">Filtro de produtos</button>
						<div class="box-1" id="product-select-box" style="display:none">
							<form id="product-filter-form">
								<div class="box-1">
									<input type="hidden" name="location" value="kart">
									<input type="text" name="cod" id="kart-product-select" class="btn-generic-small" placeholder="Cód" autocomplete="off">
									<select name="type" id="kart-product-filter-type" class="btn-generic-small">
										<option value="">Categoria</option>
									</select>
									<select name="color" id="kart-product-filter-color" class="btn-generic-small">
										<option value="">Cor</option>
									</select>
									<button type="submit" class="btn-generic-small">Filtrar</button>
								</div>
			                </form>
			                <form id="kart-product-select-form">
								<div class="box-1">
								    <select name="cod" id="kart-product-cod" class="btn-generic-medium" name="product">
								      <option value="">Produto</option>
								    </select>
								    <input type="number" name="amount" id="kart-product-amount" class="btn-generic-small" placeholder="Quantidade">
								    <input type="submit" class="btn-generic-small" value="Adicionar">
			                	</div>
			                </form>
	                	</div>
	                </div>

                <div class="box-2">
                	<strong>Produtos da Venda</strong>
                	<div class="box-1">
						<table id="cashier-product-tbl" class="tbl-generic">
							<tr>
								<td>Cod</td>
								<td>Informação do produto</td>
								<td class="tbl-amount-cell"></td>
								<td>Quantidade</td>
								<td class="tbl-amount-cell"></td>
								<td>Valor unitário</td>
								<td>Valor total</td>
							</tr>
							<tbody id="cashier-product-tbl-tbody"></tbody>
						</table>
                	</div>
                </div>

                <div class="box-2">
                	<div class="box-1">
						<strong class="underline-title">Conclusão da venda</strong>
                		<div class="box-1">
							<h6 class="underline-title">Selecione o valor de desconto</h6><br>
					    	<input type="number" id="cashier-discount-update-value" id="store-sale-discount" class="btn-generic-small" placeholder="Valor">
					    	<input type="button" id="cashier-discount-update-btn" class="btn-generic-small" value="Atualizar">
						</div>
                	</div>

                	<div class="box-1">
                		<table class="tbl-generic cashier-sale-info">
                			<tr>
                				<td>Desconto</td>
                				<td>Valor total</td>
                				<td>Valor final</td>
                			</tr>
                			<tr>
                				<td id="cashier-discount" class="discount">0</td>
                				<td id="cashier-total" class="totalValue">0</td>
                				<td id="cashier-final" class="finalValue">0</td>
                			</tr>
                		</table>
                	</div>
            		<div class="box-1">
            			<input type="button" id="cashier-sale-save-btn" class="btn-generic-big" style="background-color:#9bedbf;color:black;" value="Finalizar venda">
            		</div>
                </div>

                
                <div class="box-1" id="product-show-box" style="display:none;">
					<table class="tbl-info" id="product-show-tbl">
						<tr>
							<td>Cód</td>
							<td>Tipo</td>
							<td>Nome</td>
							<td>Tamanho</td>
							<td>Cor</td>
							<td>Qtd</td>
							<td>Valor</td>
						</tr>
						<tbody id="product-show-tbody"></tbody>
					</table>
					<div class="box-1" id="product-image-show"></div>
					<button id="imagePrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
                    <span id="imagePageNumber"></span>
                    <button id="imageNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button>
				</div>
			</div>
		</section>
	</body>
	<footer>
        <% include ../../partials/footer %>
	</footer>
</html>