

<html>
	<head>
        <% include ../../partials/head %>
	</head>
	<body>
		<header>
			<a href="/"><img src="/images/favicon.png" class="favicon"></a>
			<div>
    			<a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Sair</a>
			</div>
		</header>
		<section>
			<div class="container">
				<div class="box-2">
					<button class="btn-generic-big" onclick="displayProductTypeBox('type')">Categoria dos produtos</button>
					<div class="box-1" id="product-type-frm" style="display:none">
						<div class="box-1">
							<button class="btn-generic-big" onclick="listProductCategory()">Listar categorias</button>
							<div class="box-1" id="product-categories-box" style="display:none">
								<table class="tbl-info" id="product-categories-tbl"></table>
							</div>
						</div>
						<div class="box-1">
							<input class="btn-generic-big" type="text" id="product-type-name" placeholder="Nome" maxlength="15">
							<input class="btn-generic-big" type="text" id="product-type-shortcut" placeholder="Abreviação" maxlength="8">
							<button class="btn-generic-big" id="product-type-save-btn">Cadastrar</button>
						</div>
					</div>
				</div>
				<div class="box-2">
					<button class="btn-generic-big" onclick="displayProductColorBox('color')">Cores dos produtos</button>
					<div class="box-1" id="product-color-frm" style="display:none">
						<input class="btn-generic-big" type="text" id="product-color-name" placeholder="Nome" maxlength="15">
						<input class="btn-generic-big" type="text" id="product-color-shortcut" placeholder="Abreviação" maxlength="3">
						<button class="btn-generic-big" id="product-color-save-btn">Cadastrar</button>
					</div>
				</div>
			</div>
		</section>
	</body>
	<footer>
        <% include ../../partials/footer %>
	</footer>
</html>