<html>
	<head>
        <% include ../../partials/head %>
	</head>
	<body>
		<header>
			<a href="/"><img src="/images/favicon.png" class="favicon"></a>
			<div>
    			<a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Sair</a>
			</div>
		</header>
		<section>
			<div class="container">
				<div class="box-2">
					<button class="btn-generic-big" onclick="displayProductFilterForm('product-create-form', 'create')">Cadastro de produtos</button>
					<form id="product-create-form" class="box-1" style="display:none">
						<input type="hidden" name="product_id" id="product-create-id" value="0" autocomplete="off">
						<input type="number" name="product_cod" id="product-create-cod" class="btn-generic-big" placeholder="Cód do produto" min="1" max="9999" autocomplete="off">
						<select name="product_category" id="product-create-category" class="btn-generic-big" autocomplete="off">
							<option value="">Categoria</option>
						</select>
						<br>
						<input type="text" name="product_name" class="btn-generic-big" id="product-create-name" placeholder="Nome do produto" autocomplete="off" maxlength="15">
						<select name="product_color" id="product-create-color" class="btn-generic-big" autocomplete="off">
							<option value="">Cor</option>
						</select>
						<br>
						<select name="product_size" id="product-create-size" class="btn-generic-big" autocomplete="off">
							<option value="">Tamanho</option>
							<option value="ST">Sem tamanho</option>
							<option value="PP">PP</option>
							<option value="P">P</option>
							<option value="M">M</option>
							<option value="G">G</option>
							<option value="GG">GG</option>
						</select>
						<input type="number" name="product_value" class="btn-generic-big" id="product-create-value" placeholder="Valor" min="1" max="9999" autocomplete="off"><br>
						<input type="button" class="btn-generic-big" id="product-create-submit" value="Cadastrar">
					</form>
				</div>
				<div class="box-2">
					<button class="btn-generic-big" onclick="displayProductFilterForm('product-filter-form', 'admin')">Produtos cadastrados</button>
					<form id="product-filter-form" class="box-1" style="display:none">
						<input type="hidden" name="product_location" value="admin">
						<input type="text" name="product_cod" class="btn-generic-small" placeholder="Cód" autocomplete="off">
						<select name="product_category" id="product-admin-category" class="btn-generic-small" autocomplete="off">
							<option value="">Categoria</option>
						</select>
						<select name="product_color" id="product-admin-color" class="btn-generic-small" autocomplete="off">
							<option value="">Cor</option>
						</select>
						<input type="submit" class="btn-generic-small" value="Filtrar">
					</form>
					<br><br>
					<div id="admin-product-div" style="display:none">
						<table class="tbl-info" id="admin-product-tbl"></table>
						<br>
						<button id="adminProductPrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
	                    <span id="adminProductPageNumber"></span>
	                    <button id="adminProductNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button>
					</div>
				</div>
				
				<div class="box-1" id="product-show-box" style="display:none;">
					<table class="tbl-info" id="product-show-tbl">
						<tr>
							<td>Cód</td>
							<td>Tipo</td>
							<td>Nome</td>
							<td>Tamanho</td>
							<td>Cor</td>
							<td>Qtd</td>
							<td>Valor</td>
						</tr>
						<tbody id="product-show-tbody"></tbody>
					</table>
					<div class="box-1" id="product-image-show"></div>
					<button id="imagePrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
                    <span id="imagePageNumber"></span>
                    <button id="imageNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button>
				</div>
			</div>
		</section>
	</body>
	<footer>
        <% include ../../partials/footer %>
	</footer>
</html>