<!-- Copyright -->
<div class='copyright'>
    <!-- &copy; Lyra corp. All rights reserved.  -->
    © J.A Rio Militar 2019 - All Rights Reserved | hosted by Ls Co.
</div>
<script src="/javascripts/essentials/jquery-3.4.0.min.js"></script>
<script src="/javascripts/essentials/lib.js"></script>
<!-- <script src="/javascripts/sockets/support.js"></script> -->
<script src="/javascripts/scripts/user.js"></script>
<script src="/javascripts/scripts/admin.js"></script>
<script src="/javascripts/scripts/product.js"></script>
<script src="/javascripts/scripts/store/product.js"></script>
<script src="/javascripts/scripts/store/customer.js"></script>
<script src="/javascripts/scripts/store/cashier.js"></script>
<script src="/javascripts/scripts/store/sale.js"></script>