<html>
	<head>
        <% include ../partials/head %>
	</head>
	<body>
		<header>
			<a href="/"><img src="/images/favicon.png" class="favicon"></a>
			<div>
    			<a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Sair</a>
			</div>
		</header>
		<section>
			<div class="container">
				<div class="box-2">
                    <div class="menu-box">
                        <strong class="span-menu underline-title" onclick="window.location.href='/factory/storage'">Estoque</strong>
                    </div>
                </div>
			</div>
		</section>
	</body>
	<footer>
        <% include ../partials/footer %>
	</footer>
</html>