<html>
	<head>
        <% include ../partials/head %>
	</head>
	<body>
		<header>
			<a href="/"><img src="/images/favicon.png" class="favicon"></a>
			<div>
    			<a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Sair</a>
			</div>
		</header>
		<section>
			<div class="container">
				
			</div>
		</section>
	</body>
	<footer>
        <% include ../partials/footer %>
	</footer>
</html>