<html>
	<head>
        <% include ../partials/head %>
	</head>
	<body>
		<header>
			<a href="/"><img src="/images/favicon.png" class="favicon"></a>
			<div>
    			<a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Sair</a>
			</div>
		</header>
		<section>
			<div class="container">
				<div class="box-2">
                    <div class="menu-box">
                        <strong class="underline-title">Vendas</strong>
                        

                        <strong class="span-menu underline-title" onclick="window.location.href='/store/cashier'">PDV</strong>

                        <strong class="span-menu underline-title" onclick="window.location.href='/store/orders'">Relatório</strong>



                        <!-- <span class="span-menu" onclick="window.location.href='/store/cashier'">PDV</span> -->
                        <!-- <span class="span-menu" onclick="window.location.href='/store/sales'">Relatório</span> -->
                    </div>
                </div>
			</div>
		</section>
	</body>
	<footer>
        <% include ../partials/footer %>
	</footer>
</html>