<html>
	<head>
        <% include ../../partials/head %>
	</head>
	<body>
		<header>
			<a href="/"><img src="/images/favicon.png" class="favicon"></a>
			<div>
    			<a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Logout</a>
			</div>
		</header>
		<section>
			<div class="container">
				<div class="box-2">
					<button class="btn-generic-big" name="">Cadastrar tipos de produto</button>
					<div class="box-1" id="product-type-frm">
						<input class="btn-generic-big" type="text" id="product-type-name" placeholder="Nome" maxlength="15">
						<input class="btn-generic-big" type="text" id="product-type-shortcut" placeholder="Abreviação" maxlength="8">
						<button class="btn-generic-big" id="product-type-save-btn">Cadastrar</button>
					</div>
				</div>
				<div class="box-2">
					<button class="btn-generic-big" name="">Cadastrar cores de produto</button>
					<div class="box-1" id="product-color-frm">
						<input class="btn-generic-big" type="text" id="product-color-name" placeholder="Nome" maxlength="15">
						<input class="btn-generic-big" type="text" id="product-color-shortcut" placeholder="Abreviação" maxlength="3">
						<button class="btn-generic-big" id="product-color-save-btn">Cadastrar</button>
					</div>
				</div>
				<div class="box-2">
					<button class="btn-generic-big" onclick="displayProductCreateFrm()">Cadastro de produtos</button>
					<div class="box-1" id="product-create-frm" style="display:none">
						<input type="hidden" id="product_id" value="0" autocomplete="off">
						<input type="number" class="btn-generic-big" id="product_cod" placeholder="Cód do produto" min="1" max="9999" autocomplete="off">
						<select id="product_type" class="btn-generic-big" autocomplete="off">
							<option value="">Tipo</option>
						</select>
						<br>
						<input type="text" class="btn-generic-big" id="product_name" placeholder="Nome do produto" autocomplete="off" maxlength="15">
						<select id="product_color" class="btn-generic-big" autocomplete="off">
							<option value="">Cor</option>
						</select>
						<br>
						<select id="product_size" class="btn-generic-big" autocomplete="off">
							<option value="">Tamanho</option>
							<option value="ST">Sem tamanho</option>
							<option value="PP">PP</option>
							<option value="P">P</option>
							<option value="M">M</option>
							<option value="G">G</option>
							<option value="GG">GG</option>
						</select>
						<input type="number" class="btn-generic-big" id="product_value" placeholder="Valor" min="1" max="9999" autocomplete="off">
						<div class="box-1">
							<button class="btn-generic-big" id="product-save-btn">Cadastrar</button>
						</div>
					</div>
				</div>
				<div class="box-2">
					<strong class="underline-title">Produtos cadastrados</strong><br>
					<select id="src_product_type" class="btn-generic-small" autocomplete="off">
						<option value="">Tipo</option>
						<option value="Colete">Colete</option>
						<option value="Peça_mod">Peça modular</option>
						<option value="Coldre">Coldre</option>
						<option value="Bornal">Bornal</option>
					</select>
					<select id="src_product_color" class="btn-generic-small" autocomplete="off">
						<option value="">Cor</option>
						<option value="pt">Preto</option>
						<option value="vd">Verde</option>
						<option value="tan">Tan</option>
						<option value="ptcamo">Preto camo</option>
						<option value="vdcamo">Verde camo</option>
					</select>
					<input type="button" class="btn-generic-small" id="product-filter-btn" value="Filtrar">
					<br><br>
					<div id="main-product-div" style="display:none">
						<table class="tbl-info" id="main-product-tbl"></table>
						<br>
						<button id="productPrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
	                    <span id="productPageNumber"></span>
	                    <button id="productNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button>
					</div>
				</div>
				
				<div class="box-1" id="product-show-box" style="display:none;">
					<table class="tbl-info" id="product-show-tbl">
						<tr>
							<td>Cód</td>
							<td>Tipo</td>
							<td>Nome</td>
							<td>Tamanho</td>
							<td>Cor</td>
							<td>Qtd</td>
							<td>Valor</td>
						</tr>
						<tbody id="product-show-tbody"></tbody>
					</table>
					<div class="box-1" id="product-show-image"></div>
					<button id="imagePrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
                    <span id="imagePageNumber"></span>
                    <button id="imageNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button>
				</div>
			</div>
		</section>
	</body>
	<footer>
        <% include ../../partials/footer %>
	</footer>
</html>