<html>
	<head>
        <% include ../../partials/head %>
	</head>
	<body>
		<header>
			<a href="/"><img src="/images/favicon.png" class="favicon"></a>
			<div>
    			<a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Sair</a>
			</div>
		</header>
		<section>
			<div class="container">
                <div class="box-1">
                	<div class="box-1">
                		<input type="text" class="btn-generic-big" id="store-order-customer-cpf" placeholder="CPF">
                		<input type="date" class="btn-generic-big" id="store-order-date">
                		<input type="button" class="btn-generic-big" id="store-order-filter-btn" value="buscar">
                	</div>
                </div>
                <div class="box-1" id="main-order-div" style="display:none">
                    <table class="tbl-info" id="main-order-tbl">
                        <tr>
                            <td>Cód</td>
                            <td>Data</td>
                            <td>Cliente CPF</td>
                            <td>Cliente Nome</td>
                            <td>Valor</td>
                            <td>Status</td>
                        </tr>
                        <tbody id="main-order-tbl-tbody"></tbody>  
                    </table>
                    <br>
                    <button id="orderPrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
                    <span id="orderPageNumber"></span>
                    <button id="orderNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button>
                </div>
                <div class="box-1" id="order-show-box" style="display:none;">
                    <table class="tbl-info" id="order-show-tbl">
                        <tbody id="order-show-tbody"></tbody>
                    </table>
                </div>
			</div>
		</section>
	</body>
	<footer>
        <% include ../../partials/footer %>
	</footer>
</html>