<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
    <a href="/"><img src="/images/favicon.png" class="favicon"></a>
    <div>
    <a href="/signup">Novo colaborador</a>
    | <a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Sair</a>
    </div>
    </header>
    <section>
      <div class="container">
        <div class="box-2">
          <div class="menu-box">
            <strong class="underline-title">Privilégios dos usuários</strong>
            <span class="span-menu" id="user-list-btn">Listar usuários</span>
          </div>
          <br>
          <div id="main-user-div" style="display: none">
            <table class="tbl-info" id="main-user-tbl"></table>
            <br>
            <button id="userPrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
            <span id="userPageNumber"></span>
            <button id="userNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button>
          </div>
          <div class="box-1" id="show-user-box" style="display: none"></div>
        </div>
        <div class="box-2">
          <div class="menu-box">
            <strong class="underline-title">Gestão de produtos</strong>
            <span class="span-menu underline-title" onclick="window.location.href='/product'">Criação</span>
            <!-- <span class="span-menu underline-title" onclick="window.location.href='/product/config'">Configurações</span> -->
          </div>
        </div>
        
        <!-- <div class="box-2">
          <div class="menu-box">
            <strong class="underline-title">Cadastrar nova Fábrica</strong>
            <form id="factory-create-form">
              <input type="text" class="btn-generic-big" name="city">
              <input type="text" class="btn-generic-big" name="state">
              <input type="submit" value="Cadastrar">
            </form>
          </div>
        </div> -->

        <!-- <div class="box-2">
          <div class="menu-box">
            <strong class="underline-title">Suporte</strong>
            <span class="span-menu" onclick="window.location.href='/admin/support'">Acessar</span>
          </div>
        </div> -->
      </div>
    </section>
  </body>
  <footer>
    <% include ../partials/footer %>
  </footer>
</html>